.note{class: note.tags_as_css_classes, id: "note#{note.id}"}
  != best_in_place note, :content, :type => :textarea
  .data
    .tags
      = note.tags.map(&:name).join(', ')
    = link_to(image_tag('x.png', height: 15), archive_note_path(note, {tag_id: note.tags.first.id}), method: :delete)
