
$sidebar_width: 250px;

body {
  padding: 20px;
  height: 100%;
}

#sidebar {
  width: $sidebar_width;
  float: left;
}
#content {
  margin-left: $sidebar_width;
}
.hidden-submit {
  border: 0 none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
form {
  margin-bottom: 10px;
}