// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$note_width: 500px;

.note {
  border: 1px solid;
  width: $note_width;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px #888;
}

textarea {
  height: 100px;
  border: 1px solid #cccccc;
  padding: 5px;
  resize: none;
  overflow: auto;
}

#add_note textarea {
  width: $note_width;
}

.note textarea {
  width: $note_width - 12;
}

input[type=text] {
  padding: 3px;
  border: 1px solid #cccccc;
}

.Important {
  background-color: #ee5;
}
.note .data {
  margin-top: 5px;
  position: relative;
}
.tags {
  font-size: .8em;
  position: relative;
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
}