// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$note_width: 500px;
$trash_size: 80px;

.note {
  border: 1px solid;
  width: $note_width;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px #888;
}

textarea {
  border: 1px solid #cccccc;
  padding: 5px;
  resize: none;
  overflow: auto;
}

#add_note textarea {
  width: $note_width;
  height: 100px;
}

.note textarea {
  width: $note_width - 12;
}
.note form {
  display: none;
}

input[type=text] {
  padding: 3px;
  border: 1px solid #cccccc;
}

.Important {
  background-color: #ee5;
}
.note .data {
  margin-top: 5px;
  position: relative;
}
.tags {
  font-size: .8em;
  position: relative;
}

.x_image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.green {
  background-color: green;
  border: 2px solid blue;
}
#trash {
  background-image: url('empty_trash.png');
  background-size: 100% 100%;
  height: $trash_size;
  width: $trash_size;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.full_trash {
  background-image: url('full_trash.png') !important;
  background-size: 100% 100%;
  height: $trash_size;
  width: $trash_size;
}